

/* =========================== */

/* FUNDO */
.banner {
    height: 1300px;
    background-image: url("imgs/fundo-site.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;

}

.conteiner_calculadora {
    /* color: rgb(243, 166, 22); */
    display: flex;
    justify-content: center;
    
    margin-left: 0px;
}

.card_calculadora {
    padding: 10px;
    width: 600px;
    height: 500px;
    background: rgba(88, 88, 88, 0.151);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 500px;
    margin-left: 0%;
    border: 3px black solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    position: absolute;
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    transition: all 0.8s;
    color: white;
}

/* animação */
.card_calculadora:hover {
    transform: scale(1);
    box-shadow: 10px 10px 10px 10px #262626
}

.card_calculadora input {
    border: 3px black solid;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    height: 40px;
    color: white;
    text-align: center;
    width: 100px;
    background-color: black;
    border: 3px black solid;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(to right, black, rgb(43, 41, 41));
}

button span {
    position: relative;
    transition: 0.5s;
}

button span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

#msg {
    color: white;
}
