/* FUNDO */
.banner {
    height: 1300px;
    background-image: url("imgs/fundo-site.png");
    background-repeat: no-repeat;
    background-size: cover;
    /* display: flex; */

}

/* HOME */
.banner .conteiner {
   
    align-items: center;
    
}

.welcome {
    font-size: 50px;
    text-align: center;
    padding-top: 0px;
    color: black;
    margin-top: 30px ;
    width: 90%;

}

.welcome p {
    background-color: orange;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    /* width: 1200px; */
    padding: 10px;
    margin: auto;
    border: 3px black solid;
    border-radius: 15px;
    background: linear-gradient(to right, orange, rgb(228, 111, 8));

}


.banner .home {
    color: rgb(255, 153, 0);
    margin-bottom: 500px;
    padding: 20px;
    font-size: 36px;
    margin-top: 100px;
    width: 400px;
    height: 350px;
    margin-left: 100px;
    margin-right: 200px;
    border: black solid;
    border-radius: 10px;
    background: linear-gradient(to right, black, rgb(43, 41, 41));
    margin-bottom: 600px;
    transition: all 0.8s;
}

/* animação */
.home:hover {
    transform: scale(1.2);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.35);
}

.banner .home2 {
    color: rgb(255, 153, 0);
    margin-bottom: 500px;
    padding: 20px;
    font-size: 36px;
    margin-top: 100px;
    width: 400px;
    height: 350px;
    margin-left: 10px;
    margin-right: 100px;
    border: black solid;
    border-radius: 10px;
    background: linear-gradient(to right, black, rgb(43, 41, 41));
    margin-bottom: 600px;
    transition: all 0.8s;
}

/* animação */
.home2:hover {
    transform: scale(1.2);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.35);
}
