
/*Página de suporte*/

.titlesuporte {
    color: white;
    font-weight: bold;
}

.caixinhasuporte {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 600px;
}

.link {
    /* color: rgb(255, 136, 0); */
    color: white;
}

.pergunta {
    color: rgb(243, 166, 22);
    cursor: pointer;
}

.resposta {
    color: rgb(255, 255, 255);
    font-weight: 100;
}

.card-suporte {
    height: max-content;
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    margin-top: 50px;
    /* margin-bottom: 500px;
        margin-left: 500px;
        margin-right: 400px;  */
    width: 650px;
    border: 3px black solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    /* position: absolute;  */
    background: rgba(88, 88, 88, 0.151);

    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    transition: all 0.5s;
}


.banner-suporte {
    height: 1300px;
    background-image: url("imgs/fundo-site.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}